.con{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color:pink;
}
.right{
    width:20%;
    height:80%;
    background-color: blue;

}
.lef{
    width:60%;
    height:80%;
    background-color:red;
}
.right2{
    width:20%;
    height: 80%;
    background-color:blue ;
}