*{
    margin: 0;
    padding: 0;
}
.container {
width: 100%;
height: 100%;

}
.pfp {
width: 20%;
height: 20%;
background-color: white;
border-radius: 20%;
display: flex;
justify-content: start;
align-items: start;
}
.name {
width:10%;
height: 15%;
background-color: aqua;
}
.age {
width:10%;
height: 15%;
background-color: aqua;
}
.grade {
width: 10%;
height: 15%;
}
.secondbox {
width: 100%;
height: 40%;
background-color: orchid;
}
.phonenumber {
width:40%;
height: 15%;
}
.thirdbox {
width: 100%;
height: 20%;
}
.hobby {
width:20%;
height: 15%;
background-color: blueviolet;
}
.boxhobby {
width:60%;
height: 50%;
}
.firstbox {
width: 100%;
height: 40%;
background-color: white;
}