.container {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width:250px;
  display: flex;
  flex-direction: row;
}
.no-wrap{
  flex-wrap: nowrap;
}
.wrap{
 flex-wrap: wrap;
}
.wrap-reverse{
 flex-wrap:wrap-reverse;
}
ul {
 list-style: none;
}
.item{
  background-color: rgb(141 178 226);
  height: 40px;
width: 40px;
margin: 2px;
border: 2px solid black;
padding: 2px;
}
.con {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width:250px;
  display: flex;
  flex-direction: row-reverse;
}
.cont {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 450px;
  display: flex;
  justify-content: center;
  
}
.conta {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 500px;
  display: flex;
  justify-content: left;
  
}
.contai {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 500px;
  display: flex;
  justify-content: right;
  
}
.contain {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 500px;
  display: flex;
  justify-content: center;
  
}
.containe {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 600px;
  display: flex;
  justify-content: space-between;
  
}
.co {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 600px;
  display: flex;
  justify-content: space-around;
  
}
.c {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  
}
.a {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.b {
  background-color: rgb(245 197 221);
  margin: 5px;
  padding: 0;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
}



